body,
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../images/animal-bg.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.title {
    margin-top: min(7rem, 9vw);
    margin-bottom: min(9rem, 15vw);
    padding: 0.8rem;
    font-family: 'Sigmar One', cursive;
    font-size: min(4rem, 15vw);
    /* line-height: 5rem; */
    text-align: center;
    color: #2e2828;
}

.nav {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.nav__btn {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 1rem;
    padding: 1.5rem 1rem;
    background: linear-gradient(90deg, #8fd61c 6.55%, #00761a 99.24%);
    border-radius: 24px;
    /* border: 2px solid #000000; */
    color: white;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

/* TODO: Add responsiveness for mobile */
@media (min-width: 1100px) {
    .background {
        background-position: center -400px;
    }
}
