.container {
    text-align: center;
    background-image: linear-gradient(greenyellow, sandybrown);
    min-height: 74vh;
    padding-top: 4vh;
}

.scoring {
    display: flex;
    justify-content: space-around;
}

.star-img {
    margin: .11vw;
}

.topic {
    margin-top: 4vh;
}

.topic, .statement-twister, .explain-why {
    border: silver .11vw solid;
    line-height: 2em;
    width: 20vw;
    margin: auto;
}

.explain-why {
    position: absolute;
    width: 31vw;
    top: 15vh;
    left: 34.4vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: silver;
    opacity: 83%;
    border: darkgreen .4vw solid;
    font-size: large;
}

.explain-question {
    margin-top: 11%;
    background-color: darkgreen;
    margin-bottom: .2em;
    min-height: 4vh;
}

.explain-question:hover {
    background-color: inherit;
    color: green;
    font-weight: bolder;
    border: green .2vw solid;
}

.added-layers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}

.statement-twister, .added-layers, .topic, .correct, .myth {
    margin-bottom: 4vh;
}

.answer-options {
    display: flex;
    justify-content: space-evenly;
}

.correct, .myth {
    width: 11vw;
    height: 8vh;
    background-color:bisque;
}

.correct:hover, .myth:hover {
    background-image: linear-gradient(sandybrown,yellow );
    font-size: larger;
}