.container {
    text-align: center;
    background-image: linear-gradient(green, coral)
}

.categories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.category {
    width: 47vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    margin: .4vw;
}

.category:hover {
    flex-grow: 4;
    font-size: x-large;
}