.container {
    text-align: center;
    background-image: linear-gradient(greenyellow, sandybrown);
    min-height: 74vh;
    padding-top: 4vh;
}

.scoring {
    display: flex;
    justify-content: space-around;
}

.star-img {
    margin: .11vw;
}

.added-layers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}

.statement-twister, .added-layers, .topic, .correct, .myth {
    margin-bottom: 4vh;
}

.answer-options {
    display: flex;
    justify-content: space-evenly;
}

.correct, .myth, .next-question {
    width: 11vw;
    height: 8vh;
    background-color:bisque;
}

.correct:hover, .myth:hover {
    background-image: linear-gradient(sandybrown,yellow );
    font-size: larger;
}

.explain-why {
    z-index: 2;
    position: absolute;
    top: 40vh;
    left: 21.8vw;
    border: 2px solid silver;
    min-height: 11vh;
    min-width: 56vw;
    background-color: sandybrown;
}

.next-question {
    margin-top: 1.1vh;
    width: 14vw;
    font-weight: bold;
}